<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <style>
    #map {
      height: 400px;
      width: 100%
    }
  </style>
</head>

<body>
  <h2>API Fun!</h2>

  <div id="map"></div>

  <div id="calendar">Calendar</div>
</body>

<script>
  function initMap() {
    let locationOptions = {
      zoom: 1,
      center: {lat: 0, lng: 0}
    }
    let map = new google.maps.Map(document.getElementById("map"), locationOptions)
  }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLvOmk6IlwoLnFGPKmz8DfJFoISK7Y3O8&callback=initMap"></script>
</html>
